@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.input-group-append{
  margin: 1px;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/******* Use this class block inside IF statement ********/
.past {
  background-color: gray;
  color: white;
}

.present {
  background-color: green;
  color: white;
}

.future {
  background-color: #ffbb33;
  color: white;
}
/******************************************/

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


.progress{

  margin-bottom: 50px;
}

.Subject{
  font-family: 'Acme', sans-serif;
  color: tomato;
}

.Title{
  font-family: 'Satisfy', cursive;
  color: palevioletred;
}

.Time{
  font-family: 'Righteous', cursive;
  color:purple ;
}

.clock{
  font-family: 'Acme', sans-serif;
  color: purple;
  width: 120px;
  padding-left: 20px;
  border-radius: 30px 0px 0px 35px;
  border: 2px;
  margin: 1px;
}

.Save{
  color: white;
  background: purple;
  border: 0;
  margin: 2px;
}

.btn-outline-danger{
  border: 0;
}

.hidden{
  display: none;
  color: yellowgreen;
}